In [11]:
#import data
!cd Data
!wget https://ti.arc.nasa.gov/m/project/prognostic-repository/CMAPSSData.zip

--2019-07-31 19:52:41--  https://ti.arc.nasa.gov/m/project/prognostic-repository/CMAPSSData.zip
Resolving ti.arc.nasa.gov (ti.arc.nasa.gov)... 128.102.105.66, 2001:4d0:6311:2227:14b6:372b:2078:2a94
Connecting to ti.arc.nasa.gov (ti.arc.nasa.gov)|128.102.105.66|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12425978 (12M) [application/zip]
Saving to: ‘CMAPSSData.zip’

CMAPSSData.zip      100%[===================>]  11.85M  4.66MB/s    in 2.5s

2019-07-31 19:52:44 (4.66 MB/s) - ‘CMAPSSData.zip’ saved [12425978/12425978]

In [13]:
#unzip the files
import zipfile
with zipfile.ZipFile('CMAPSSData.zip', 'r') as zip_ref:
    zip_ref.extractall()

In [34]:
import os
import pandas as pd
rul = []
test = []
train = []

for file in os.listdir():
    if 'RUL' in file:
        rul.append(pd.read_csv(file, sep = ' ', header=None))
    elif 'test' in file:
        test.append(pd.read_csv(file, sep = ' ', header=None))
    elif 'train'in file:
        train.append(pd.read_csv(file, sep = ' ', header=None))

In [37]:
rul_df = pd.concat(rul)
test_df = pd.concat(test)
train_df = pd.concat(train)

In [47]:
test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,9.9987,0.2502,100.0,489.05,605.03,1497.17,1304.99,10.52,...,8114.10,8.6476,0.03,369,2319,100.00,28.42,17.1551,NaN,NaN
1,1,2,20.0026,0.7000,100.0,491.19,607.82,1481.20,1246.11,9.35,...,8053.06,9.2405,0.02,364,2324,100.00,24.29,14.8039,NaN,NaN
2,1,3,35.0045,0.8400,100.0,449.44,556.00,1359.08,1128.36,5.48,...,8053.04,9.3472,0.02,333,2223,100.00,14.98,8.9125,NaN,NaN
3,1,4,42.0066,0.8410,100.0,445.00,550.17,1349.69,1127.89,3.91,...,8066.90,9.3961,0.02,332,2212,100.00,10.35,6.4181,NaN,NaN
4,1,5,24.9985,0.6213,60.0,462.54,536.72,1253.18,1050.69,7.05,...,7865.66,10.8682,0.02,305,1915,84.93,14.31,8.5740,NaN,NaN

In [42]:
rul_df.shape

(707, 2)

In [43]:
test_df.shape

(104897, 28)

In [44]:
train_df.shape

(160359, 28)

In [48]:
test_group = test_df.groupby